{% extends 'layouts/admin.html' %}
{% load i18n %}
{% block content %}
<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<h3>Listado de Categorías <a href="{% url 'almacen:categoria_create'%}"><button class="btn btn-success">Nuevo</button></a></h3>
		{% include "almacen/categoria/search.html"  %}
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed table-hover">
				<thead>
					<th>Id</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Opciones</th>
				</thead>
				{% if object_list %}
						{% for categorias in object_list %}
						<tr>
							<td>{{ categorias.id}}</td>
							<td>{{ categorias.nombre}}</td>
							<td>{{ categorias.descripcion}}</td>
							<td>
										<a href="{% url 'almacen:categoria_edit' categorias.id %}"><button class="btn btn-info">Editar</button></a>
                    <a href="" data-target="#modal-delete-{{categorias.id}}" data-toggle="modal"><button class="btn btn-danger">Eliminar</button></a>
							</td>

						</tr>
						{% include "almacen/categoria/modal.html"  %}
					  {% endfor %}
				{% else %}
    		   	<h1>No hay registros de categorias</h1>
				{% endif %}
			</table>
		</div>

		<ul class="pagination">

											{% if page_obj.has_previous %}
											<li class="active">
											 			<a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "" %}</a>
											</li>
											{% else %}
											<li class="disabled">
														<span class="disabled prev">&lsaquo;&lsaquo; {% trans "" %}</span>
											</li>
											{% endif %}
											{% for page in page_obj.pages %}
												{% if page %}
														{% ifequal page page_obj.number %}
														  <li class="active">
																<span class="current page">{{ page }}</span>
															</li>
														{% else %}
														  <li class="">
																<a href="?{{ page.querystring }}" class="page">{{ page }}</a>
														  </li>
														{% endifequal %}
												{% else %}
														...
												{% endif %}
											{% endfor %}
											{% if page_obj.has_next %}
											<li class="active">
														<a href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "" %} &rsaquo;&rsaquo;</a>
											</li>
											{% else %}
											<li class="disabled">
														<span class="disabled next">{% trans "next" %} &rsaquo;&rsaquo;</span>
											</li>
											{% endif %}

			</ul>

	</div>
</div>

{% endblock %}
